*, *::before, *::after {
    box-sizing: border-box;
    font-family: Baskervville;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("images/background.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
}

    a{
        font-size: 48px;
        color: #000;
        margin: 0px;
        text-align: center !important;
        display: table-cell;
        vertical-align: middle;
        text-decoration: none;
      }
      

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    padding: 50px;
    border-radius: 5px;
    /* box-shadow: 0 0 20px 2px; */ 
    transition-property: background-color;
    transition-duration: .6s;
    transition-timing-function: linear;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: .6s;
    -webkit-transition-timing-function: linear; 
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.btn {
    border: 2px solid #ffffff;
    padding: 1em 2em;
    display: inline-block;
    border-radius: 50px;
    margin-right: 2em;
    margin-bottom: 2em;
    cursor: pointer;
    background-color: rgba(255,255,255,0);
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: 600;
    opacity: 0.8;
    transition-property: background-color, opacity, letter-spacing;
    transition-duration: .2s;
    transition-timing-function: linear;
    -webkit-transition-property: background-color, opacity, letter-spacing;
    -webkit-transition-duration: .2s;
    -webkit-transition-timing-function: linear; 
  }

  .btn:hover {
    background-color: rgba(255,255,255,0.15);
    opacity: 1;
    letter-spacing: 0.2em;
  }


.btn:hover {
    border-color: black;
}